
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: miama;
  src: url(../public/Miama.ttf);
  }

.miama{
  font-family: miama;
}
@font-face {
  font-family: oohbaby;
  src: url(../public/OoohBaby-Regular.ttf);
  }

  .oohbaby{
    font-family:oohbaby ;
  }

.primaryColor{
  color:  #6D2E46 ;
}
.backColor{
  background-color:  #6D2E46 ;
}
.ashColor{
  background-color: #D9D9D9;
}
.whiteColor{
  background-color: #E7E6E4;
}
.secondaryColor{
  color: #1E1E1E
}

.bodyFont{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
